@import 'src/styles.scss';

header {
  min-height: 60px;
  background: linear-gradient(#2c2c85, #12367a);
  padding: 20px;
}

.subheader {
  min-height: 30px;
  background-color: $primary-accent;
  padding: 20px;
  color: white
}

.ryanair-logo {
  width: 150px;
  height: 56px;
}


svg path,
svg rect {
  fill: $secondary;
}


.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}